<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SendEmail" value="true"/>
    
  </appSettings>
  <!--conexion-->

  <connectionStrings>
    <add name="connexionString" connectionString="Data Source=DESKTOP-U5G6NIT\SQLEXPRESS;Integrated Security=true;Initial Catalog=entretien" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>

	</system.web>
  
</configuration>
